@using SimchaFundHw.Data
@model HistoryViewModel
<div b-2ya7vgwtda class="container">
    <main b-2ya7vgwtda role="main" class="pb-3" style="margin-top: 60px;">
        <div class="header">
            <h1>History for @Model.Name</h1>
            <h3>Current Balance: @Model.Balance.ToString("C")</h3>
        </div>

        <div class="row header">
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <tr>
                        <th>Action</th>
                        <th>Date</th>
                        <th>Amount</th>
                    </tr>

                    @foreach (HistoryEvent e in @Model.Events)
                    {
                        <tr>
                            <td>
                                @e.Action
                            </td>
                            <td style="text-align: center; vertical-align: middle;">
                                @e.Date.ToLongDateString()
                            </td>
                            @if (e.IsDeposit)
                            {
                                <td style="text-align: center; vertical-align: middle;">
                                    @e.Amount.ToString("C")
                                </td>
                            }
                            else
                            {
                                <td style="text-align: center; vertical-align: middle;">
                                    - @e.Amount.ToString("C")
                                </td>
                            }
                        </tr>
                    }

                </table>
            </div>
        </div>

        <div style="text-align:center;">
            <a class="btn btn-lg btn-danger" href="/contributors">Back to Contributors</a>
        </div>
    </main>
</div>